@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
  background-color: black;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  margin: 0px;
}

.preloader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 70px;
  height: 70px;
  background-color: #fff;
  margin: -35px 0 0 -35px;
  border-radius: 100%;
  animation: animatePreloader 1s infinite ease-in-out;
}

@keyframes animatePreloader {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.wrapper {
  grid-template-areas:
    "h h h"
    "m m m"
    "f f f";
  margin-right: auto;
  margin-left: auto;
  display: none;
}

.wrapper__animate {
  position: relative;
  animation-name: animateWrapper;
  animation-duration: 1s;
}

@keyframes animateWrapper {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header {
  grid-area: h;
  background-image: url("../img/header/header-background.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

nav {
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 2% 1%;
  display: grid;
  visibility: hidden;
  grid-template-columns: 1fr 1fr;
  z-index: 2;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s ease-in-out;
}

.active {
  opacity: 1;
  color: #fd735a;
}

nav:after {
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgb(165, 165, 165),
    rgba(0, 0, 0, 0)
  );
  background-image: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  background-image: -ms-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  background-image: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=1);
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  content: "";
  bottom: 0;
}

.header__logo {
  margin-left: 18%;
  color: rgba(0, 0, 0, 0.9);
  letter-spacing: 3px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 3;
  stroke-linecap: round;
}

.ham1 .top {
  stroke-dasharray: 40 139;
}

.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.ham1.active .top {
  stroke-dashoffset: -98px;
}

.ham1.active .bottom {
  stroke-dashoffset: -138px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 0px;
}

ul:before {
  display: none;
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgb(165, 165, 165),
    rgba(0, 0, 0, 0)
  );
  background-image: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  background-image: -ms-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  background-image: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=1);
  position: relative;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  content: "";
  top: 0;
}

nav ul li {
  margin-right: 3%;
  font-weight: 700;
  letter-spacing: 2px;
}

nav ul li:last-child {
  margin-right: 18%;
}

nav ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  opacity: 0.8;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  transition: opacity 0.2s linear;
}

nav ul li a:hover {
  opacity: 1;
}

.header_inner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 20%;
  flex-direction: column;
}

.header_main__image {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}

.header_main__image img {
  border-radius: 50%;
  height: auto;
  width: 100%;
  box-shadow: 0px 0px 0px 9px rgba(255, 255, 255, 0.08);
}

.header_main__name {
  margin-top: 7%;
  margin-bottom: 7%;
}

.header_main__name h1 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.header_main__name span {
  color: #ffb6b3;
}

.header_main__animated-text {
  color: white;
  text-align: center;
  font-size: 1.3rem;
}

.header_main__animated-text span {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
}

.header_footer__arrow {
  position: absolute;
  width: 16px;
  height: 20px;
  top: 150%;
  background-image: url(../img/header/down-arrow.png);
  background-size: contain;
  color: white;
  font-size: 10px;
}

.header_footer__bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

main {
  grid-area: m;
  background-color: white;
}

.about_inner-wrapper {
  padding: 80px 5%;
}

.header--mod {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  margin-bottom: 50px;
}

.sup-h2 {
  padding-bottom: 10px;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #505858;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.8;
}

h2 {
  margin-bottom: 30px;
  font-size: 30px;
  font-family: "Josefin Sans", sans-serif;
  z-index: 1;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 2px;
  color: #333;
  line-height: 1.2;
}

h2:after {
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgb(165, 165, 165),
    rgba(0, 0, 0, 0)
  );
  background-image: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  background-image: -ms-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  background-image: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=1);
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  content: "";
  bottom: -30px;
}

.about_about-me {
  margin-bottom: 30px;
}

.about_about-me p {
  font-family: "Josephine Sans", sans-serif;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.8px;
  word-wrap: break-word;
  font-weight: 500;
  text-align: justify;
}

.about_info ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-bottom: 30px;
}

.about_info ul li {
  margin-bottom: 10px;
  font-family: "Josefin Sans", sans-serif;
  line-height: 2;
  position: relative;
  padding-left: 35px;
  font-weight: 300;
  font-size: 1.1rem;
}

.about_info ul li svg {
  width: 18px;
  height: 18px;
  fill: currentColor;
  color: #f45032;
  position: absolute;
  left: 0px;
  top: 8px;
}

.about_info ul li span {
  font-size: 1.2rem;
  font-weight: 500;
  min-width: 100px;
  display: inline-block;
}

.about_info ul li a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.about_info ul li a:hover {
  border-bottom-color: #000;
}

.about_button button {
  background-color: #f45032;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 1px;
  width: 200px;
  height: 55px;
  box-shadow: inset 0 0 0 0 black;
  transition: all ease 0.4s;
}

.about_button button:hover {
  box-shadow: inset 200px 0 0 0 black;
}

.about_button button a {
  text-decoration: none;
  color: white;
}

.skills_inner-wrapper {
  background-color: #f9f9f9;
  padding: 80px 5%;
}

.skills_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
}

.skills__flip-card {
  background-color: transparent;
  height: 200px;
  perspective: 1000px;
}

.skills__flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.skills__flip-card:hover .skills__flip-card-inner {
  transform: rotateX(180deg);
}

.skills__flip-card-front,
.skills__flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.skills__flip-card-front {
  background-color: white;
  color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills__flip-card-front_background_HTML5 {
  background-image: url("../img/skills/skills-background-1.jpg");
}

.skills__flip-card-front_background_CSS3 {
  background-image: url("../img/skills/skills-background-2.jpg");
}

.skills__flip-card-front_background_JS {
  background-image: url("../img/skills/skills-background-3.jpg");
}

.skills__flip-card-front_background_JS img {
  height: 58px;
}

.skills__flip-card-front_background_Boostrap {
  background-image: url("../img/skills/skills-background-4.jpg");
}

.skills__flip-card-front_background_jQuery {
  background-image: url("../img/skills/skills-background-5.jpg");
}

.skills__flip-card-front_background_jQuery img {
  height: 50px;
}

.skills__flip-card-front_background_React {
  background-image: url("../img/skills/skills-background-6.jpg");
}

.skills__flip-card-front_background_white {
  box-shadow: inset 0px 0px 60px 60px rgba(249, 249, 249, 0.98);
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills__flip-card-back {
  background-color: #f45032;
  color: white;
  transform: rotateX(180deg);
}

.portfolio_inner-wrapper {
  background-color: white;
  padding: 80px 5%;
}

.portfolio_works {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.portfolio__item {
  background-size: contain;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
}

.portfolio__item_background_RomanNumeralConverter {
  background-image: url("../img/portfolio/works/roman-numeral-converter.png");
}

.portfolio__item_background_CaesarsCipher {
  background-image: url("../img/portfolio/works/caesars-cipher.png");
}

.portfolio__item_background_Palindrome {
  background-image: url("../img/portfolio/works/palindrome-checker.png");
}

.portfolio__item_background_MoGo {
  background-image: url("../img/portfolio/works/MoGo.png");
}

.portfolio__item_background_FlatStyle {
  background-image: url("../img/portfolio/works/FlatStyle.png");
}

.portfolio__item_background_PhotoCage {
  background-image: url("../img/portfolio/works/PhotoCage.png");
}

.portfolio__item_background_PowerNap {
  background-image: url("../img/portfolio/works/PowerNap.png");
}

.portfolio__item_background_Calculator {
  background-image: url("../img/portfolio/works/calculator.png");
}

.contact_inner-wrapper {
  background-color: #f9f9f9;
  padding: 80px 5%;
}

.contact_social-networks {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_social-networks__item:not(:last-child) {
  margin-right: 20px;
}

.contact_social-networks__item:hover,
.contact_social-networks__item:focus {
  animation: shake 1s;
}

@keyframes shake {
  0% {
    transform: translateX(0px) rotate(0deg);
  }

  20% {
    transform: translateX(-4px) rotate(-4deg);
  }

  40% {
    transform: translateX(-2px) rotate(-2deg);
  }

  60% {
    transform: translateX(4px) rotate(4deg);
  }

  80% {
    transform: translateX(2px) rotate(2deg);
  }

  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

.contact_social-networks img {
  width: 35px;
}

.contact_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
}

.contact_form__item {
  font-family: "Open Sans", sans-serif;
  border-radius: 2px;
  color: #495057;
}

.contact_form__item:nth-last-child(-n + 3) {
  grid-column: 1 / 3;
}

.contact_form__item:not(#message, button) {
  height: 27px;
}

.contact_form__item:not(:last-child) {
  padding: 15px 30px;
  border: 1px solid #f9f9f9;
  line-height: 1.5;
  font-size: 1rem;
}

.contact_form #message {
  resize: none;
  grid-row: 3 / 5;
}

.contact_form button {
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.5;
  padding: 12px 50px;
  font-size: 12px;
  letter-spacing: 2px;
  color: #fff;
  background-color: #fd735a;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  max-width: 140px;
  height: 40px;
  cursor: pointer;
  justify-self: center;
  transition: all 0.3s linear;
}

.contact_form button:hover,
.contact_form button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em;
  transform: translateY(-0.4em);
}

footer {
  grid-area: f;
  background-color: blue;
  height: 1000px;
}
