@media (max-width: 450px) {
    header {
        background-attachment: scroll;
    }
    
    .header_inner-wrapper {
        top: 25%;
    }

    .header_main__image {
        height: 150px;
        width: 150px;
    }

    .header_main__name h1 {
        font-size: 2rem;
    }

    .header_main__animated-text {
        font-size: 1rem;
    }

    .header_footer__arrow {
        top: 170%;
    }
}

@media (max-width: 750px) {
    nav {
        display: flex;
        flex-direction: column;
        padding: 15 16;
    }

    .header__logo {
        margin: 0;
        padding: 0px 10px;
    }
    
    .ham {
        display: flex;
    }

    nav ul {
        flex-direction: column;
        margin-top: 10px;
        transition: height 0.6s ease-out;
        height: 0px;
        overflow: hidden;
    }

    nav > ul:before {
        display: block;
    }

    nav ul li {
        padding: 12px 10px;
    }

    nav ul li:last-child {
        margin: 0;
    }
}